* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Noto Sans JP', 'Poppins', Monospace, sans-serif;
  padding: 1rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}

input[type='checkbox'] {
  width: 20px;
  background-color: blue;

  position: relative;

  vertical-align: middle;
}
