* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Noto Sans JP', 'Poppins', Monospace, sans-serif;
  padding: 1rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}
